
nav {
    z-index: 6;
    color: white;
  overflow-x: hidden;
}

.navbar {
    z-index: 56;
    padding: 0.5rem !important;
}

.navbar-toggler-icon {
    z-index: 567;
}



a.nav-link{
  font-size: larger;  
  color: white;
}

a.navbar-brand{
  font-size:30px;
  font-weight:bold;
}

#Layer_1{
  margin-right:1rem;
  width:25px;
  height:25px;
}

button {
  margin: 20px;
}
.custom-btn {
  width: 120px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: #161616;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   
  outline: none;
}

.btn-16 {
  border: none;
  color: white;
  margin-right: 1rem;
}
.btn-16:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-16:hover {
  color: rgb(255, 255, 255);
}
.btn-16:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.btn-16:active {
  top: 2px;
}

/* ---------------motion wave------------------ */

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

.wave_{
  display: block;
  position: absolute;
  height: 55vh;
  width: 100vw;
  top:0;
  left:0;
  right:0;
}

.waveWrapper {
    overflow: hidden;
    /* position: ; */
    width: 100%;
    left: 0;
    right: 0;
    bottom: 10%;
    top: 0;
    margin: auto;
}

.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: 49%;
    background-image: linear-gradient(to top, #f74545 20%, #ed4e4e 80%);
}

.bgTop {
    z-index: 15;
    opacity: 0.5;
}

.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}

.bgBottom {
    z-index: 5;
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveTop {
    background-size: 50% 100px;
}

.waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.waveMiddle {
    background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}

.waveBottom {
    background-size: 50% 100px;
}

.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

@media screen and (max-width: 520px){
  .waveWrapperInner{
      bottom:10%;
  }
}
