*{
  box-sizing: border-box;
  padding:0;
  margin: 0;
  overscroll-behavior: contain;
  scroll-behavior: smooth;
}

/* html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
} */

body {
  overscroll-behavior-y: none;
  overflow-x: hidden;

}